
body {
  margin: 0;
  padding: 0;
  font-family: 'open sans', sans-serif;  
}

/* style the header */
.brand h1 {
  font-family: 'Oregano', cursive;
  color: #008037;
}

.logo a {
  text-decoration: none;
}

.logo a:hover {
  opacity: 0.7;
}
/* end of header. Navbar is completely bootstrap. */

h2, h3, h4 {
  font-family: 'Oregano', cursive;
  color: #008037;
  font-weight: bold;
}

h2 {
  display: inline-block;  
  margin-top: 15px;
  padding: 10px;   
  border: 2px solid #008037;
  border-radius: 5px;
}

h3, h4 {
  text-align: center;
}

h3 {
  font-size: 1.2rem;
}

.content-wrapper {
  color: #008037;
  padding: 10px;
}

/* clear floats after the columns. Is this a must? */
.row:after {
  content: "";
  display: table;
  clear: both;
} 

/* style product category background images */
#wood, #plush, #clothing, #other, #food, #organic, #book {
  height: 300px;  
  max-width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
  font-size: 0.8rem;
}
#wood {
  background: url('images/wooden toy_360 by 300.jpg') no-repeat;
  background-position: center;
}
#plush {
  background: url('images/stuffed toy_360 by 300.jpg') no-repeat;
  background-position: center;
}
#clothing {
  background: url('images/boy on beach_360 by 300.jpg') no-repeat;
  background-position: center;
}
#other {
  background: url('images/paper boats_360 by 300.jpg') no-repeat;
  background-position: center;
}
#food {
  background: url('images/food_360 by 300.jpg') no-repeat;
  background-position: center;
}
#organic {
  background: url('images/natural organic_360 by 300.jpg') no-repeat;
  background-position: center;
}
#book {
  background: url('images/books_360 by 300.jpg') no-repeat;
  background-position: center;  
}

/* moved .row a style to index.html, because it affects product details */

#wood:hover, #plush:hover, #clothing:hover, #other:hover, #food:hover, #organic:hover, #book:hover {
  opacity: 0.8;
}
/* end of product categories */

/* style #contact */
@media (min-width: 992px) {
#contact-info {
  order: 2;  
}
#contact-form {
  order: 1;
}
}

#contact-form p {
  font-family: 'Oregano', cursive;
  font-size: 1.2rem;
  padding-top: 10px;  
}

/* style social media links */
.fa {  
  text-align: center;
  text-decoration: none;  
}

.fa-youtube, .fa-facebook, .fa-instagram {
  box-sizing: content-box;
  padding: 10px;
  font-size: 30px;
  width: 30px;
  margin: 5px 10px;
  border-radius: 50%; 
  color: white;
}

.fa-youtube {
  background: #bb0000;  
}

.fa-facebook {
  background: #3B5998;  
}

.fa-instagram {
  background: #c32aa3; 
}

.fa-youtube:hover, .fa-facebook:hover, .fa-instagram:hover {
  opacity: 0.7;
}

/* style credits table */
table#credits {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

table#credits tr {
  border-bottom: 1px solid #008037;  
}

table#credits th {
  color: #008037; 
}

table#credits a {
  text-decoration: none;
}

/* style footer */
footer {  
  font-size: 0.9rem;
}

footer div#copyright {
  font-family: 'Oregano', cursive;
  font-size: 1.2rem;
}
/* end of footer */

/* style product page */
.fa-check-circle {
  color: #008037;
  margin-right: 10px;     
}
    
.fa-check-circle + a {
  text-decoration: none;
  color: #008037;
}

.fa-check-circle + a:hover {
  color: blue;
}

.fa-check-circle + a.active {
  color: #ff5757; 
}

.fa-flag {
  display: inline; 
  color: #ff5757; 
  font-size: 1.2rem; 
  margin-right: 10px;         
}
