
#header-nav {
  background-color: aqua;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Business name */
  text-transform: uppercase;
  font-weight: bold;    
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/* END HEADER */

h2 {
  margin-top: 30px;
}

.col-md-4 > div, .col-sm-6 > div, .col-xs-12 > div, .col-sm-12 > div {
  background-color: aqua;
  padding: 30px 10px 10px 10px;
  margin-top: 30px; 
}
